body{
    color: #fff !important;
    background: #796b68 !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    border: none !important;
}
.navbar-brand{
    font-size: 30px !important;
    padding: 0 !important;
    font-weight: bold !important;
    color: #fed700 !important;
}
.wrapper{
    padding: 0 5px !important;
    position: relative;
}
.nav-link{
    color: #fff !important;
    font-size: 20px !important;
}
.nav-link:focus, .nav-link:hover{
    color: #fed700 !important;
}
#toggler-icon{
    font-size: 30px !important;
}
.sticky-top{
    background: #796b68;
    padding-left: 10px !important;
}

.top-header{
    h1{
        font-weight: bold !important;
        span{
           color: #fed700 !important; 
        }
    }
    p{
        line-height: 1.7rem !important;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
.btn-group{
    a{
        border-radius: 30px !important;
        margin-right: 10px;
        border: 2px solid #fed700;
        padding: 15px 20px ;
        background: none !important;
    }
    a:hover, a:focus{
        color: #fed700;
        border: 2px solid #fed700 !important;
    }
}
.social{
    padding: 20px 0px 0 5px;
}
.social i{
  color : #e5e5e5;
  font-size: 25px;
  margin-right: 10px;
  transition: 0.5s;
}
.social i:hover{
  color:#fed700;
  transform: rotate(360deg);
}
.about{
    h1{
        font-weight: bold;
        span{
             color:#fed700;
        }   
    }
    ul li{
        padding: 10px 0;
    }
}

.projects{
    h1{
        font-weight: bold !important;
        span{
           color: #fed700 !important; 
        }
    }
}
.skillset{
    h1{
        font-weight: bold !important;
        span{
           color: #fed700 !important; 
        }
    }
}

.tech-icons {
    border: 1.7px solid #fed700 !important;
    border-radius: 5px !important;
    box-shadow: 0 0 5px 2px #fed700 !important;
    display: table !important;
    font-size: 4.5em !important;
    margin: 15px !important;
    opacity: .93 !important;
    overflow: hidden !important;
    padding: 10px !important;
    text-align: center !important;
    transition: all .4s ease 0s !important;
    vertical-align: middle !important;
    span{
        font-size: 12px;
        display: block;
    }
}
.tech-icons:hover{
    border: 2.2px solid #fed700 !important;
    overflow: hidden !important;
    transform: scale(1.05) !important;
}

.projects{
    margin-bottom: 50px;
}

.project {
    border: 1.7px solid #fed700 !important;
    border-radius: 5px !important;
    box-shadow: 0 0 5px 2px #fed700 !important;
    display: table !important;
    margin: 15px !important;
    opacity: .93 !important;
    overflow: hidden !important;
    padding: 15px !important;
    text-align: center !important;
    transition: all .4s ease 0s !important;
    vertical-align: middle !important;
    h4{
        font-weight: bold;
    }
    p{
        font-size: 16px;
        margin: 0;
    }
}

@media (max-width: 767px) {
  .nav-link{
        font-size: 15px !important;
        padding: 4px 0 !important;
    }
    #top-header img{
        max-height: 300px;
        display: block;
        margin:0 auto;
    }
    .navbar-nav{
        box-shadow: 0 0 5px 2px #fed700 !important;
        padding-left: 5px !important;
    }
}